<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target="#myNavbar">
				<span class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
		</div>
		<div class="collapse navbar-collapse" id="myNavbar">
			<ul class="nav navbar-nav">
				<li class="active"><a routerLink="/"><i class="glyphicon glyphicon-home"></i></a></li>
				<li><a routerLink="/book">Recherche</a></li>
				<li><a routerLink="/panier">Panier</a></li>
				<!-- Si on est connecté en tant que membre -->
				<li><a routerLink="/compte">Mon compte</a></li>
				<!-- Si on est admin -->
				<li><a routerLink="/gestioncompte">Gestion
						membres et paniers</a></li>
				<li style="width: 30%;">
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<!-- Si on est pas connect(é -->
				<li><a routerLink="/inscription"><span
						class="glyphicon glyphicon-user"></span> Inscription</a></li>
				<!-- Si on est connecté en tant que membre ou admin -->
				<li><a routerLink="/login">
					<span class="glyphicon glyphicon-log-in"></span> Se connecter</a>
				</li>
			</ul>
		</div>
	</div>
</nav>