<header>
	<app-header></app-header>
  </header>
  
  <navbar></navbar>

<div class="container">
    <div class="panel panel-primary">
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th></th>
                            <th style='text-align:left'>Titre</th>
                            <th style='text-align:left'>Prix</th>
                            <th style='text-align:left'>Auteur(s)</th>
                            <th style='text-align:left'>Editeur</th>
                            <th style='text-align:left'>Actions</th>
                        </tr>
                    </thead>
                    <tbody id="contenant">
                        <tr *ngFor="let bookBasketFull of bookBasketFulls">
                            <td><img style="max-width: 100px; height: auto;" src="{{BASE_URL}}/book/image/?imagePath={{bookBasketFull.imagePath}}"/></td>
                            <td style="vertical-align: middle;">{{bookBasketFull.bookTitre}}</td>
                            <td style="vertical-align: middle;">{{bookBasketFull.bookPrice}}<i class="Eglyphicon glyphicon-euro"></i></td>
                            <td style="vertical-align: middle;">
                                <span *ngFor="let author of bookBasketFull.authors">{{author.authorLastname}} {{author.authorFirstname}}|</span>
                            </td>
                            <td style="vertical-align: middle;">{{bookBasketFull.editor.editorName}}</td>
                            <td style="vertical-align: middle;">
                                <button (click)="enleverDuPanier(bookBasketFull.bookBasketId)">Supprimer du panier</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<br><br>