<div class="row">
<div class="col-sm-4"></div>
<div class="col-sm-4">
<form class="form-group" >
	<input id="ISBN" type="text" class="form-control" name="ISBN" [(ngModel)]="book.ISBN" placeholder="ISBN">  
	<input id="titre" type="text" class="form-control" name="bookTitre" [(ngModel)]="book.bookTitre" placeholder="titre">  
	<input id="description" type="text" class="form-control" name="bookDescription" [(ngModel)]="book.bookDescription" placeholder="description" >  	
	<input id="prix" type="text" class="form-control" name="bookPrice" [(ngModel)]="book.bookPrice" placeholder="prix">  
	<input id="datePublication" type="text" class="form-control" name="publicationDate" [(ngModel)]="book.publicationDate" placeholder="datePublication">  
	<input id="categories" type="text" class="form-control" name="category" [(ngModel)]="book.category" placeholder="categories"> 
    <input id="editor" type="text" class="form-control" name="editor" [(ngModel)]="book.editor" placeholder="editor">
	<br/>
    <!--<input id="auteur" type="text" class="form-control" name="authors" [(ngModel)]="book.authors" placeholder="auteur">-->
    <select name="author.authorFirstname.authorLastname" [(ngModel)]='authors.authorId'>
                        <option *ngFor="let author of listeAuthor"
                            [ngValue]="author.authorFirstname.authorLastname">{{author.authorFirstname.authorLastname}}</option>
                    </select>
                    <br/>
	<div class="form-check">
    	<input type="checkbox" class="form-check-input" [(ngModel)]="book.periodicBook" name="periodicBook" id="periodique">
    	<label class="form-check-label" for="periodique" >Periodique</label>
    </div>
    <br/>
    <div class="form-check">
    	<input type="checkbox" class="form-check-input" [(ngModel)]="book.popularBook" name="popularBook" id="populaire">
    	<label class="form-check-label" for="populaire" >Populaire</label>
    </div>
	<br/>
	<button class="btn btn-default" (click)="creationlivre()">Enregistrer</button> 
</form>
</div>
<div class="col-sm-4"></div>
</div>